{{> header }}
{{> navigation }}
    

    <div id="layoutSidenav">
      {{> sidebar }}
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4 pt-2 mt-2">
            <ol class="breadcrumb mb-4">
              <!-- <li class="breadcrumb-item active"><a href="/user/newpost">New Post</a></li> -->
            </ol>

            <h1>Update post</h1>

            <div class="row pt-2">
              <div class="col-md-6">
                <form action="/editPost" method="POST">
                <input type="hidden" name="id" value="{{ post._id }}">
                  <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" value="{{ post.title }}" name="title" class="form-control">
                  </div><br>

                  <div class="form-group">
                    <label for="">Category</label>
                    <select name="category" id="category" class="form-control">
                      <option value="php">Php</option>
                      <option value="javascript">Javascript</option>
                      <option value="html">Html</option>
                      <option value="jquery">Jquery</option>
                      <option value="css">Css</option>
                      <option value="bootstrap">Bootstrap</option>
                      <option value="laravel">Laravel</option>
                    </select>
                  </div><br>

                  <div class="form-group">
                    <label for="">Content</label>
                    <textarea name="content" id="editor" cols="30" rows="15" class="form-control">{{ post.content }}</textarea>
                  </div><br>

                  <div class="form-group">
                    <button type="submit" value="Save" name="save" class="btn btn-success btn-sm">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>

{{> footer}}